#!/bin/bash
# Carrega o script de configuração do Conda
source "$(conda info --base)/etc/profile.d/conda.sh"

# Environment
export STAGE=DEV

# Ativa o ambiente
conda activate CA-dessec-alunos

# Adiciona variavel com o nome do repositorio
GITHUB_REPO=CA-dessec-alunos

export GITHUB_REPO
# Adiciona o diretório atual ao PATH

REP_DIR=$(pwd)
export REP_DIR

export COMPOSE_BAKE=true
PATH="$PATH:."
export LC_ALL="pt_BR.UTF-8"
export DB_NAME=CA-dessec-alunos
export DB_USER=CA-dessec-alunos
export DB_ROOT_PASSWORD="$ROOT_DB_PASS"
export DB_PASSWORD="$DB_PASS"

# Function to render colored stage marker in the prompt
prompt_stage() {
  case "${STAGE}" in
    PROD)
      echo "%{$fg_bold[white]%}%{$bg[red]%}<<${STAGE}>>%{$reset_color%}"
      ;;
    DEV)
      echo "%{$fg_bold[white]%}%{$bg[green]%}<<${STAGE}>>%{$reset_color%}"
      ;;
    QA)
      echo "%{$fg_bold[white]%}%{$bg[yellow]%}<<${STAGE}>>%{$reset_color%}"
      ;;
    *)
      echo "<<${STAGE}>>"
      ;;
  esac
}

# Prepend the colored stage marker to PS1
export PS1="$(prompt_stage) $PS1"

