#!/bin/bash

# Adiciona variavel com o nome do repositorio
GITHUB_REPO=CA-dessec-alunos

export GITHUB_REPO
# Adiciona o diretório atual ao PATH

REP_DIR=$(pwd)
export REP_DIR

export COMPOSE_BAKE=true
PATH="$PATH:."
export LC_ALL="pt_BR.UTF-8"

# Prepend the colored stage marker to PS1
export PS1="$(prompt_stage) $PS1"

# Activate .venv
source .venv/bin/activate
